/* Farben:
#A2D2FF
#FEF9EF
#FF865E
#FEE440
 */

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    /* background-color: #FEF9EF; */
}

body {
    background-color: #eee;
    position: relative;
}

nav *,
nav {
    background-color: #000;
}

.active {
    color: #fff !important;
    background-color: #000 !important;
    text-decoration: underline #fff 5px;
}

a.nav-link:hover {
    text-decoration: none;
}

.top-container {
    min-height: 100vh;
    background-image: url(images/FA09B149-3A2B-42BA-A290-0FC7750788E1_1_201_a.jpeg);
    background-size: 100% 1080px;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.top-container>h1 {
    position: absolute;
    right: 100px;
    top: 300px;
}

.top-container>h2 {
    position: absolute;
    right: 100px;
    top: 350px;
}

footer {
    background-color: #FF865E;
    color: #fff;
    text-align: center;
}

footer p {
    padding: 1rem 0 1rem 0;
    margin-bottom: 0;
}

.btn-primary {
    background-color: #FF865E;
    border-color: #FEF9EF;
}

.btn-primary:hover {
    background-color: #FEE440;
    border-color: #FEF9EF;
}


/* ABOUT SECTION */

#about {
    margin: 3rem 2rem 1rem 2rem;
    background-color: #fff;
}

#about .container {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
    max-width: 100%;
    box-shadow: 10px 5px 5px #bbb;
}

.title-s {
    font-weight: bold;
}


/* SERVICES SECTION */

#services {
    text-align: center;
}

.bi {
    font-size: 2rem;
}

.service-box {
    background-color: #fff;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 5%;
    box-shadow: 10px 5px 5px #bbb;
}


/* EXPERIENCE SECTION */

.experience {
    margin-top: 4rem;
    background-image: url(images/jc-gellidon-EH9f0TI5wco-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}

.counter-box {
    text-align: center;
    margin-top: 220px;
    color: white;
}


/* REFERENZEN */

#work {
    margin-top: 2rem;
}

.work-content {
    background-color: #fff;
    box-shadow: 0px 10px 5px #bbb;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem;
}

.w-like {
    position: absolute;
    bottom: 5px;
    right: 2rem;
}


/* Kontakt */

#contact {
    background: rgba(255, 255, 255, .5);
    background-image: url(images/guy-g363c55da5_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 2rem;
}

#contact .container {
    padding: 2rem;
}

#contact .container * {
    background-color: rgb(255, 255, 255);
}

footer {
    padding: 2rem 0;
    background-color: rgb(13, 20, 21);
    color: white;
    text-align: center;
}

.list-ico {
    list-style-type: none;
    padding: 1rem;
}

.list-ico span {
    font-size: 1rem;
    color: rgb(12, 97, 254);
    padding: .4rem;
}

.list-sco {
    list-style-type: none;
    text-align: center;
}

.list-sco span {
    color: #000;
}

.list-sco li {
    text-align: center;
    padding: 1rem;
    display: inline-block;
    color: #000;
}

.btn-contact {
    padding: .6rem;
    border-radius: 8px;
    border: 1px solid #000;
    margin: 1rem;
}

.btn-contact:hover {
    background-color: #000 !important;
    color: #fff;
}


/* 
Inspiration
https://bootstrapmade.com/demo/DevFolio/

Noch zu erledigen: 

- Inhalte überarbeiten
- Responsive Design
    - Navbar Button 
    - Titelbild und Text, Skallierung in Breite sollte aufgehoben werden
    - Projektcounter skalliert nicht. Evtl. so lassen.
- Kontaktformular
    - So bearbeiten, dass direkt E-Mails versendet werden
- Design überprüfen + Finetuning
- Dateien überprüfen (nötig/unnötig) ggf. löschen
- Finale abnahme

*/